

  <tr>
    <td>
      <h4><%= review_info.user.first_name %> <%= review_info.user.last_name %></h4>
    </td>
    <td>
      <p><%= review_info.description %></p>
    </td>
    <td>
      <p><%= review_info.rating %>/5</p>
    </td>
  </tr>